In [6]:
from rdflib import Graph, Namespace
import pandas as pd

ns = Namespace("http://n4d.sh/civ6#")

# Загрузите онтологию
g = Graph()
g.parse("civ6-ontology-v2.rdf", format="xml")

In [7]:
def run_sparql_query(query, graph):
    """
    Executes a SPARQL query and returns results as a pandas DataFrame.
    """
    results = graph.query(query)
    data = []

    for row in results:
        data.append(
            {var: row[var] for var in row.labels}
        )  # Collect variables and their values

    return pd.DataFrame(data)

Отобразим найденных с помощью wikidata лидеров

In [13]:
query = """
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX : <http://n4d.sh/civ6#>

SELECT ?entity ?name ?civilizationName
WHERE {
  ?entity :source "wikidata" ;
          :name ?name .
  OPTIONAL {
    ?entity :rules ?civilization .
    ?civilization :name ?civilizationName .
  }
}
"""

run_sparql_query(query, g)

,entity,name,civilizationName
0,http://n4d.sh/civ6#Alexander_the_Great,Alexander the Great,Macedonia
1,http://n4d.sh/civ6#Jayavarman_VII,Jayavarman VII,Khmer
2,http://n4d.sh/civ6#Tomyris,Tomyris,Scythia
3,http://n4d.sh/civ6#Tomyris,Tomyris,Massagetae
4,http://n4d.sh/civ6#Harald_III_of_Norway,Harald III of Norway,Kingdom of Norway
5,http://n4d.sh/civ6#Cleopatra,Cleopatra,Ptolemaic Kingdom
6,http://n4d.sh/civ6#Saladin,Saladin,Arabia
7,http://n4d.sh/civ6#Cyrus_the_Great,Cyrus the Great,Achaemenid Empire
8,http://n4d.sh/civ6#Cyrus_the_Great,Cyrus the Great,Anshan Persia
9,http://n4d.sh/civ6#Hōjō_Tokimune,Hōjō Tokimune,Japan
10,http://n4d.sh/civ6#John_Curtin,John Curtin,Australia
11,http://n4d.sh/civ6#Pericles,Pericles,Greece
12,http://n4d.sh/civ6#Pericles,Pericles,Classical Athens
13,http://n4d.sh/civ6#Catherine_de'_Medici,Catherine de' Medici,France
14,http://n4d.sh/civ6#Philip_II_of_Spain,Philip II of Spain,Kingdom of Portugal
15,http://n4d.sh/civ6#Philip_II_of_Spain,Philip II of Spain,Spain
16,http://n4d.sh/civ6#Frédéric_Barberousse,Frédéric Barberousse,Holy Roman Empire
17,http://n4d.sh/civ6#Victoria,Victoria,England
18,http://n4d.sh/civ6#Victoria,Victoria,United Kingdom of Great Britain and Ireland
19,http://n4d.sh/civ6#Amanitore,Amanitore,Nubia
20,http://n4d.sh/civ6#Amanitore,Amanitore,Kush
21,http://n4d.sh/civ6#Peter_the_Great,Peter the Great,Tsardom of Russia
22,http://n4d.sh/civ6#Peter_the_Great,Peter the Great,Russian Empire
23,http://n4d.sh/civ6#Trajan,Trajan,Rome
24,http://n4d.sh/civ6#Trajan,Trajan,Ancient Rome
25,http://n4d.sh/civ6#Theodore_Roosevelt,Theodore Roosevelt,America
26,http://n4d.sh/civ6#Theodore_Roosevelt,Theodore Roosevelt,United States
27,http://n4d.sh/civ6#Hedwig_of_Silesia,Hedwig of Silesia,Holy Roman Empire
28,http://n4d.sh/civ6#Gorgo,Gorgo,Greece
29,http://n4d.sh/civ6#Gorgo,Gorgo,Sparta
30,http://n4d.sh/civ6#Moctezuma_I,Moctezuma I,None
31,http://n4d.sh/civ6#Afonso_I_of_Kongo,Afonso I of Kongo,Kingdom of Kongo
32,http://n4d.sh/civ6#Tribhuwana_Wijayatunggadewi,Tribhuwana Wijayatunggadewi,None
33,http://n4d.sh/civ6#Pedro_II_of_Brazil,Pedro II of Brazil,Brazil

In [28]:
query = """
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX : <http://n4d.sh/civ6#>

SELECT ?leader ?name
WHERE {
  ?leader a :Leader ;
          :name ?name ;
          :rules "None" .
}
"""

run_sparql_query(query, g)[0:10]

                                           leader                         name
0               http://n4d.sh/civ6#Jayavarman_VII               Jayavarman VII
1                      http://n4d.sh/civ6#Saladin                      Saladin
2                  http://n4d.sh/civ6#Moctezuma_I                  Moctezuma I
3  http://n4d.sh/civ6#Tribhuwana_Wijayatunggadewi  Tribhuwana Wijayatunggadewi